<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatBox</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'newapp/css/index.css' %}">  
</head>
<body >
    <div class="chatbox">
        <h1>WELCOME  TO CHATBOX</h1>
        <img class="chatboxlog" src="{% static 'newapp/img/chatbox.png' %}" />
    </div>
    <div class="container">
        <form action="/signup" method="POST">
            {% csrf_token %}
            <input class="btn btn-1" type="submit" value="Sign Up">
        </form>
        <form action="/login" method="POST">
            {% csrf_token %}
            <input class="btn btn-1" type="submit" value="Log In">
        </form>
    </div>
</body>
</html>